*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}


nav{
    width: 100%;
    border-bottom: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}


.container{
    width:90%;
    margin: auto;
    height: 80px;

}

.container::after{
    clear: both;
    display: table;
    content: '';
}

.left{
    width: 30%;
    float: left;
    height: 100%;
    display: flex;
    align-items: center
}

#Logo-logo{
    color: white;
}

#lingua{
    margin-left:10px;
    padding: 10px;
}

#lingua div a {
    font-size: 10px;
}

#lingua .dropdown{
    width:100%;
}

.right{
    width:40%;
    float: right;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right a{
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.right a:hover{
    opacity: 0.8;
    cursor: pointer;
}

.items{
    position: relative;
}


.dropdown{
    text-align: center;
    border: 0.5px solid black;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    top: 120%;
    padding: 10px 0 20px 0;
    display: none;

}


.dropdown-items{
    margin: 10px 0;
}

i{
    color: black;
    font-size: 12px;
}
